body{
	height:100%;
	margin:0;
	padding:0;
	font-family:Whitney;
	background-color: #36393F;
}
@font-face{font-family:Whitney;font-style:light;font-weight:300;src:url('https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff') format('woff')}
@font-face{font-family:Whitney;font-style:normal;font-weight:500;src:url('https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff') format('woff')}
@font-face{font-family:Whitney;font-style:medium;font-weight:600;src:url('https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff') format('woff')}
@font-face{font-family:WhitneyMedium;font-style:medium;font-weight:600;src:url('https://discordapp.com/assets/be0060dafb7a0e31d2a1ca17c0708636.woff') format('woff')}
@font-face{font-family:Whitney;font-style:bold;font-weight:700;src:url('https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff') format('woff')}
.bar {
	position: fixed;
	width: 240px;
	height: 100%;
	background-color: #2F3136;
	z-index:60;
}
.userinfo {
	position: fixed;
	width: 240px;
	bottom: 0;
	height: 53px;
	background-color: #292B2F;
	z-index:60;
}
.infoavatar {
	width:32px;
	height:32px;
	background-size: 32px 32px;
	float: left;
	border-radius: 50%;
	margin-left: 10px;
	cursor: pointer;
	margin-top: 10px;
}
.infoname {
	width: 180px;
	height:20px;
	float: left;
	margin-left: 4px;
	margin-top: 10px;
	border-radius: 7px;
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	letter-spacing:0;
	cursor: pointer;
	font-family: Whitney;
	background-color:none;
	-moz-box-flex:1;
	min-width:0;
	border:0;
	color: white;
	background-color: transparent;
	outline: none;
}
.infoname:hover {
	outline: none;
	background-color: #34353b;
}
.infoname:focus {
	outline: none;
	font-weight: 500;
	background-color: #303237;
}
.messages {
	background-color: #36393F;
	padding-left: 10px;
	position: relative;
	height:100%;
	overflow:hidden;
	overflow-wrap: break-word;
	margin-bottom: 75px;
	margin-left: 250px;
}
.message {
	display: inline-block;
	position:relative;
	width: 90vw;
	height: 50px;
	margin-left: 10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	margin-top: 10px;
	margin-bottom: 5px;
}
.name {
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	letter-spacing:0;
	cursor: pointer;
	font-family: Whitney;
	-moz-box-flex:1;
	margin-left: 0.8rem;
	min-width:0;
	color:white;
}
.name:hover {
	text-decoration: underline;
}
.content {
	font-weight: 500;
	font-family: Whitney;
	font-size: 15px;
	position:relative;
	line-height: 1.1em;
	white-space: pre-wrap;
	margin-top: 6px;
	word-wrap: break-word;
	color:white;
}
.contentp { 
	position:relative;
	margin-left: 3.3rem;
}
.contentpp {
	margin-top: -8px;	
	position:relative;
	margin-left: 3.3rem;
}
.avatar {
	width:40px;
	height:40x;
	background-size: 40px 40px;
	float: left;
	border-radius: 50%;
}
hr {
	border-top-color: #42454A;
}
.input {
	position:fixed;
	border-radius: 7px;
	z-index:50;
	color:#DCD8D9;
	border-style:none;
	font-family:Whitney,sans-serif;
	padding-left: 5px;
	width:84.6%;
	height: 45px;
	margin-left:10px;
	bottom:0;
	margin-bottom: 25px;
	background-color:#40444B;
}
.messager {
	position:fixed;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	z-index:100;
	color:#DCD8D9;
	margin-right: 1%;
	right:0;
	border-style:none;
	padding-left: 5px;
	width:2.5%;
	height: 45px;
	bottom:0;
	margin-bottom: 25px;
	background-color:#40444B;
}
.info {
	position:fixed;
	color: white;
	font-family:Whitney,sans-serif;
	bottom:0;
	margin-right:50%;
	z-index:10;
	width:95.6%;
	text-align:center;
}
.inputcontainer {
	margin-left: 1.3%;
	margin-left: 240px;
}
.spacebottom {
	position:fixed;
	display:inline-block;
	width: 100%;
	bottom:0;
	height: 70px;
	z-index:2;
	background-color: #36393F;
}
::placeholder {
	color: #707278;
	opacity: 1;
}
.timestamp {
	font-size: 0.75rem;
	font-family: Whitney;
	color: #72767d;
	position: relative;
	right:0;
}
.mention {
	background-color:#3C414F;
	color: #7289DA;
	border-radius: 5%;
}
.bot {
	background: #7289da;
	font-size: 10px;
	font-family: Whitney;
	font-weight: 600;
	color: #fff !important;
	margin-left: 6px;
	padding: 1px 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-transform: uppercase;
	vertical-align: middle;
	line-height: 16px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}
.mention:hover {
	color: #ffffff;
	background-color:#6071AC;
}
.link {
	color: #00b0f4
}
.link:hover {
	color: #00b0f4;
	text-decoration: underline;
}